---
---

@import "{{ site.theme }}";

.site-title {
  font-size: 1.5em;
  font-weight: 600;
}

.markdown-body {
  h1, h2 {
    border-bottom: none;
  }
}

.body {
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
}

.main-container > *:first-child {
  margin-top: 0 !important;
}

.main-container > *:last-child {
  margin-bottom: 0 !important;
}
