---
---

@import "{{ site.theme }}";

.site-title {
  font-size: 1.5em;
  font-weight: 600;
}

.markdown-body {
  h1, h2 {
    border-bottom: none;
  }

  ul, ol {
    padding-left: 1em;
  }

  hr {
    height: 1px;
  }
}

html {
  height: -webkit-fill-available;
}

.body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
}

.main-container > *:first-child {
  margin-top: 0 !important;
}

.main-container > *:last-child {
  margin-bottom: 0 !important;
}

.backlinks {
  font-size: 0.875rem;
  
  ul {
    list-style: none;
  }
}

.page-list-date {
  font-size: 0.875em;
}

.page-list-title {
  font-size: 1.25em;
  line-height: 1;
}
