<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="markdown-body d-flex flex-column body">

    {%- include header.html -%}

    <main class="p-3 main">
      <div class="container-md main-container">

        {{ content }}

        {%- if page.backlinks and page.backlinks.size > 0 -%}
          <hr />
          <div class="backlinks">
            <p>関連ページ</p>
            <ul>
              {%- for backlink in page.backlinks -%}
                <li><a href="{{ backlink | relative_url }}">{{ backlink }}</a></li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>
